* {
    box-sizing:  border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html, body {
    background-color: #fff;
    color: #333;
    height: 100vh;
    margin: 0;
    width: 100vw;
}

div {
    display: block;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.left, .right {
    flex-direction: column;
}

.big {
    width: 65vw;
    height: 66vh;
}

#time.big #header {
    border:none;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time.big #header div {
    border: none;
}

#time.big #date {
    width: 50%;
}


#time.big #brightness, #time.big #settings {
    width: 25%;
}

#time #main {
    width: 100%;
}

#time.small #header div {
    display: none;
}

.small {
    width: 33vw;
    height: 33vh;
}

.large {
    width: 65vw;
    height: 33vh;
}
